<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
    rel='stylesheet' type='text/css'>

  <link href="/css/up.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="favicon.ico">

</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav pull-right hidden-print">
          <li>
            <a class="hidden-phone" title="home" href="/index.html">
              <i class="icon-home icon-large"></i>
            </a>
            <a class="visible-phone" title="about" href="/index.html">
              <i class="icon-home icon-large"></i>
              home
            </a>
          </li>
          <li>
            <a class="hidden-phone" title="about" href="/about.html">
              <i class="icon-user icon-large"></i>
            </a>
            <a class="visible-phone" title="about" href="/about.html">
              <i class="icon-user icon-large"></i>
              about
            </a>
          </li>
          <li>
            <a class="hidden-phone" title="email" href="mailto:{{ site.author.email }}">
              <i class="icon-envelope icon-large"></i>
            </a>
            <a class="visible-phone" title="email" href="mailto:{{ site.author.email }}">
              <i class="icon-envelope icon-large"></i>
              email
            </a>
          </li>
          <li>
            <a class="hidden-phone" title="github" href="https://github.com/{{ site.author.github }}">
              <i class="icon-github icon-large"></i>
            </a>
            <a class="visible-phone" title="github" href="https://github.com/{{ site.author.github }}">
              <i class="icon-github icon-large"></i>
              github
            </a>
          </li>
          <li>
            <a class="hidden-phone" href="/atom.xml" title="rss">
              <i class="icon-rss icon-large"></i>
            </a>
            <a class="visible-phone" href="/atom.xml" title="rss">
              <i class="icon-rss icon-large"></i>
              rss
            </a>
          </li>
          <li>
            <a class="hidden-phone" href="https://twitter.com/{{ site.author.twitter }}" title="twitter">
              <i class="icon-twitter icon-large"></i>
            </a>
            <a class="visible-phone" href="https://twitter.com/{{ site.author.twitter }}" title="twitter">
              <i class="icon-twitter icon-large"></i>
              twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>

  <div id="footer" class="hidden-print">
    <section class="meta">
      <div class="container">
        <div class="row">
          <div class="col-span-3"></div>
          <div class="col-span-2">
            <!-- <a href="https://twitter.com/{{ site.author.twitter }}"> -->
            <!--   <i class="icon icon-twitter icon-4x"></i> -->
            <!--   <div>Follow me on Twitter.</div> -->
            <!-- </a> -->
          </div>
          <div class="col-span-2"></div>
          <div class="col-span-2 next">
            <!-- <a href="https://github.com/{{ site.author.github }}"> -->
            <!--   <i class="icon icon-github icon-4x"></i> -->
            <!--   <div> -->
            <!--     See my github profile. -->
            <!--   </div> -->
            <!-- </a> -->
          </div>
          <div class="col-span-3"></div>
        </div>
      </div>
    </section>
  </div>
  {% include analytics.html %}
  {% include gauges.html %}
</body>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/js/up.js"></script>
</html>

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
